<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Nav 1</a></li>
        <li><a href="#">Nav 2</a></li>
        <li><a href="#">Nav 3</a></li>
        <li><a href="#">Nav 4</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Nav 5</a></li>
        <li><a href="#">Nav 6</a></li>
        <li><a href="#">Nav 7</a></li>
        <li><a href="forms.html">Nav 8</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        suscipit libero vel augue mattis feugiat. Phasellus malesuada tempor tortor.
        Suspendisse libero nunc, ultrices sed malesuada id, gravida nec massa. Nam et
        aliquet quam, mollis mollis libero. Nam eu euismod elit, non condimentum nulla.
        Curabitur in congue nisi. Donec egestas, dui sit amet dapibus porta, ligula lacus
        finibus leo, ut imperdiet ante orci non sapien. Sed ut magna non augue pellentesque
        tincidunt vitae scelerisque magna. Nullam ultrices bibendum finibus. Phasellus at
        consectetur eros. Cras congue egestas congue. Sed blandit, felis et sodales
        mattis, felis ligula pharetra justo, sed efficitur felis nisi fermentum leo.</p>

    </div>
  </div>
</div>
