<!--Navbar blue-->

<app-nav></app-nav>

<!--/.Navbar blue-->


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        suscipit libero vel augue mattis feugiat. Phasellus malesuada tempor tortor.
        Suspendisse libero nunc, ultrices sed malesuada id, gravida nec massa. Nam et
        aliquet quam, mollis mollis libero. Nam eu euismod elit, non condimentum nulla.
        Curabitur in congue nisi. Donec egestas, dui sit amet dapibus porta, ligula lacus
        finibus leo, ut imperdiet ante orci non sapien. Sed ut magna non augue pellentesque
        tincidunt vitae scelerisque magna. Nullam ultrices bibendum finibus. Phasellus at
        consectetur eros. Cras congue egestas congue. Sed blandit, felis et sodales
        mattis, felis ligula pharetra justo, sed efficitur felis nisi fermentum leo.</p>

    </div>
  </div>
</div>
